.plan-item {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  margin: 1%;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.status{
  padding:6px 40px;
}
.task{
  padding:6px 40px;
}
.action{
  padding:6px 40px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.add-Task-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-plan-button:hover {
  background-color: #2980b9;
}

.heading {
  text-align: center;
}
.button-logout {
  text-align: right;
}

.table-container {
  margin: 0 auto; 
  width: 80%; 
}
